@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;600&display=swap'); //font-family: 'Alegreya', serif;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap'); //font-family: 'Playfair Display', serif;

@font-face {
  font-weight: normal;
  font-family: 'ProximaNova';
  font-style: normal;
  src: url('/fonts/ProximaNova-Regular.eot');
  src: local('☺'), url('/fonts/ProximaNova-Regular.woff') format('woff'), url('/fonts/ProximaNova-Regular.ttf') format('truetype'), url('/fonts/ProximaNova-Regular.svg') format('svg');
}

@font-face {
  font-weight: normal;
  font-family: 'Scriptina';
  font-style: normal;
  src: url('/fonts/scriptina.regular.eot');
  src: local('☺'), url('/fonts/scriptina.regular.woff') format('woff'), url('/fonts/scriptina.regular.ttf') format('truetype'), url('/fonts/scriptina.regular.svg') format('svg');
}

@font-face {
  font-weight: normal;
  font-family: 'TimesNewRomanPSMT';
  font-style: normal;
  src: url('/fonts/TIMES__0.eot');
  src: local('☺'), url('/fonts/TIMES__0.woff') format('woff'), url('/fonts/TIMES__0.ttf') format('truetype'), url('/fonts/TIMES__0.svg') format('svg');
}
