@import "fonts.scss";
@import "null.scss"; //обнуление css

body {
}

@import "header.scss";

.top-banner {
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__container {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 765px;
    margin: 0 auto;
  }

  &__title {
    margin: 213px 0 0 0;
    color: #fff;
    font-weight: 700;
    font-size: 92px;
    font-family: "Playfair Display";
    line-height: 24px;
    letter-spacing: 6px;
    text-shadow: 0 1px 0 #3d3029;
  }

  &__subtitle {
    max-width: 544px;
    margin: 136px 0 0 0;
    color: #fff;
    font-size: 24px;
    font-family: "Proxima Nova";
    line-height: 36px;
    letter-spacing: 2.4px;
    text-align: center;
    text-shadow: 0 1px 0 #3d3029;
  }

  &__btn {
    position: relative;
    margin: 70px 0 0 0;
    padding: 20px 50px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    font-family: Alegreya;
    line-height: 24px;
    letter-spacing: 4.2px;
    text-transform: uppercase;
    background: rgba(86, 83, 76, 0.7);
    border-radius: 15px;
  }

  &__icon {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 180px 0 0 0;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 8px 9px rgba(0, 0, 0, 0.87);
  }

  &__icon-item1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__icon-item2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
