@import "fonts.scss";
@import "null.scss"; //обнуление css

body {
}

@import "header.scss";
@import "top-banner.scss";

.about-us {
  background-image: linear-gradient(-135deg, #c4b9ae 0%, #fff 100%);

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1177px;
    margin: 0 auto;
    padding: 48px 0 0 0;
  }

  &__text {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: #56534c;
    font-size: 48px;
    font-family: Alegreya;
    letter-spacing: 1.2px;
  }

  &__subtitle {
    margin: 0 0 70px 0;
    color: #a47d5e;
    font-weight: 700;
    font-size: 14px;
    font-family: Alegreya;
    line-height: 30px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }

  &__content-text {
    max-width: 484px;
    margin: 0 0 45px 0;
    color: #56534c;
    font-size: 14px;
    font-family: "Proxima Nova";
    line-height: 24px;
    letter-spacing: 1.4px;
    text-align: center;
  }

  &__persona-title {
    color: #56534c;
    font-weight: 700;
    font-size: 24px;
    font-family: Alegreya;
    line-height: 30px;
    letter-spacing: 0.6px;
    text-align: center;
  }

  &__persona-item {
    display: flex;
  }

  &__persona-name {
    align-self: center;
    padding: 19px 22px;
    color: #56534c;
    font-size: 24px;
    font-family: Alegreya;
    line-height: 30px;
    letter-spacing: 0.6px;
    text-align: center;
    border: 1px solid #d7d5ca;
    border-right: none;
    border-left: none;
  }

  &__persona-photo {
    margin: 0 25px;
  }

  &__quote {
  }

  &__img {
  }

  &__img-item {
  }

  &__img-icon {
  }

  &__img-icon-item {
  }

  &__img-text {
  }
}
